<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/javascripts/frontend.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
<body>
<h1>Contacts</h1>
<p>Welcome to contact user login</p>

<input type="text" name="UserName" id="user_name" placeholder="Enter your user name" required></input>
<input type="password" name="Password" id="user_password" placeholder="Enter your password" required></input>


<button type="submit" name="login" onclick="checkandlogin()">Login</button>

<p>Sign Up</p>

<input type="text" name="Name" id="signup_user_name" placeholder="Enter your user name" required></input>
<input type="password" name="Password" id="signup_user_password" placeholder="Enter your password" required></input>


<button type="submit" name="signup" onclick="tohomepage()">Sign up</button>


</body>
</html>